<!DOCTYPE html>
<html>
<head>
    <title>Flask App</title>
</head>
<body>
    <form action="/add" method="post">
        <input type="text" name="content" placeholder="Enter data...">
        <input type="submit" value="Submit">
    </form>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Content</th>
        </tr>
        {% for item in data %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.content }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
